@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  position: relative;
  .bg-decoration {
    position: absolute;
    right: -174px;
    bottom: -70px;
    z-index: -1;
  }
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-done {
  opacity: 1;
  transform: scale(1);
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
}

main {
  margin-top: 50px;
  position: relative;
}

.pulse {
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.7);
}

.not-found {
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
